@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap;subset=korean');

body { 
  padding-top: 56px; 
  font-family: 'Poppins', 'Sunflower', sans-serif;
}