@charset "UTF-8";

@import url(font.css);

table, th, td {
	
	border-collapse: collapse;
	text-align: center;
}

.wrapper{
	max-width: 1600px;
	margin: 0 auto;
}

.table1{
	width: 1000px;
}

#what {
	margin-top:50px;
	height: 35px;
}

#serchText{
	margin-top:50px;
	height: 33px;
	width: 300px;
}

.serch{
	margin-left: 200px;
	margin-top: 100px;
}

#serchFinal{
	height: 35px;	
}

.box {
	margin-top: 50px;
	margin-left: 200px;
}

ul.pagination{
	list-style-type:none
}

ul.pagination li{
    display: inline-block;
}

ul.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    /* border: 1px solid #ddd; */
    /* margin: 0 4px; */
    margin: 0px;
}

ul.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination a:hover:not(.active) {background-color: #ddd;}

.paging{
	margin-left: 700px;
}

footer{
	margin-top: 100px;
}

#footer_logo {
  width: 210px;
  height: 100px;
}

