@charset "UTF-8";

@import url(font.css);


#logo {
  width: 240px;
  height: 130px;
}

#footer_logo {
  width: 210px;
  height: 100px;
}

#content { margin-top: 20px; }

#search { margin-bottom: 20px; }
.search { margin-right: 5px; }

.selectbox { border: none; }
.cate { margin:20px; }

.subcate {
  border: none;
  color: dimgray;
}

/* 액션 */

a:hover {
	text-decoration: none;
}
/* 그림자 효과 */
.bookbox:hover {
	box-shadow: 5px 5px 30px #ddd;
}


.book_img {
	
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1.0);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.book_img:hover {
	box-shadow: 1px 1px 20px #ddd;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

/* @media 태그 */

@media (min-width: 320px) and (max-width: 768px){
  .vw {
    font-size: 30px;
  }
  .search {
    width: 260px;
  }
  .selectbox {
    width: 140px;
  }
  
}

@media (min-width: 990px){
  .search {
    width: 600px;
  }
}